<section class="home-features">
    <div class="container">
        <h2 class="home-features__title" data-aos="fade-in">Key features</h2>
        <div class="home-features__list">
            <div class="home-features__list-item" data-aos="fade-right">
                <div class="home-features__list-item_image">
                    <img src="img/base/home-features-1.png" alt="">
                </div>
                <h3 class="home-features__list-item_title">Multi-touch attribution</h3>
                <p class="home-features__list-item_desc">Get a wider perspective of customer journeys, identifying all touchpoints contributing to conversions.</p>
            </div>
            <div class="home-features__list-item" data-aos="fade-right" data-aos-delay="100">
                <div class="home-features__list-item_image">
                    <img src="img/base/home-features-2.png" alt="">
                </div>
                <h3 class="home-features__list-item_title">Unlimited rich in-app events</h3>
                <p class="home-features__list-item_desc">Dive deep into post-install behavior to discover the true value of your traffic.</p>
            </div>
            <div class="home-features__list-item" data-aos="fade-right" data-aos-delay="200">
                <div class="home-features__list-item_image">
                    <img src="img/base/home-features-3.png" alt="">
                </div>
                <h3 class="home-features__list-item_title">Web-to-app measurement</h3>
                <p class="home-features__list-item_desc">Analyze the impact of web campaigns on your app to understand when and how visitors install your app.</p>
            </div>
            <div class="home-features__list-item" data-aos="fade-right" data-aos-delay="300">
                <div class="home-features__list-item_image">
                    <img src="img/base/home-features-4.png" alt="">
                </div>
                <h3 class="home-features__list-item_title">Cross-device measurement</h3>
                <p class="home-features__list-item_desc">Measure customer interactions with your brand, whether on mobile, desktop, tablet, or TV.</p>
            </div>
        </div>
    </div>
</section>