<section class="home-intro">
    <div class="container">
        <div class="home-intro-wrapper">
            <div class="home-intro__info">
                <h1 class="home-intro__info-title" data-aos="fade-right" data-aos-delay="200">Measure every action with confidence</h1>
                <p class="home-intro__info-desc" data-aos="fade-right" data-aos-delay="300">Our measurement suite gives you full visibility into the source of your conversions and which campaigns and channels bring in the best users, while preserving customer privacy</p>
                <div class="home-intro__info-bottom" data-aos="fade-right" data-aos-delay="400">
                    <a href="#" class="home-intro__info-bottom_book btn btn-white">Book a demo</a>
                    <a href="#" class="home-intro__info-bottom_sign">
                        <span>Sign up free</span>
                        <svg><use xlink:href="#sign-arrow"></use></svg>
                    </a>
                </div>
            </div>
            <div class="home-intro__image" data-aos="fade-left">
                <div class="home-intro__image-inner">
                    <img src="img/base/home-intro.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>