$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
  max: 2075px,
);

$font: "Gilroy", -apple-system, system-ui, sans-serif;

$color-main: #514B5F;
$color-blue: #00C2FF;
$color-purple: #220D4E;